/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');
/* Components */
@import url(components/navbar.css);
@import url(components/button.css);
@import url(components/footer.css);
@import url(components/banner.css);
@import url(components/info.css);
@import url(components/blog.css);
/* Utilities */
body {
  font-family: 'Public Sans', sans-serif;
  margin: 10px;
}

h1, h2, h3, h4, h5 {
  font-family: 'Public Sans', sans-serif;
}

a {
  text-decoration: none;
}